@import url(../css/style.css);

.home-section2{
    position: relative;
    bottom: 650px;
    background: white;
    position: relative;
    min-height: 100vh;
    width: calc(100% -240px);
    left: 240px;  
    transition: all 0.5s ease;
    margin-left: 20px;

}
.sidebar.active ~ .home-section2{

    width: calc(100% - 45px);
    left: 45px;
 }
 

 .home-section2 .table1{
    
    
    padding: 90px 40px;
 }


 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .home-section2 .table1 table,thead, th{
    font-weight: bold;
    font-size: 10
    
 }

  .home-section2 .table1 table, th{
     padding: 0 30px;
     
  }


  .home-section2 .table1 table, th, img{

    height: 100px;

  }
  